#result {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameoverbox {
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 1;
    border: solid 1px white;
    border-radius: 5%;
}